<template>
    <div class="container">
        <Display :equation="display"/>
        <div class="input-container">
            <button>OFF</button>
            <button @click="setOnStorage()">LOC</button>
            <button @click="setOnCookie()">CK</button>
            <button class="ac-button" @click="clearAll()">AC</button>

            <span v-for='n in firstRow' :key="n">
                <button @click="addNumber(n)">{{n}}</button>
            </span>
            <button @click="setOp('add', '+')">+</button>

            <span v-for="n in secondRow" :key="n">
                <button @click="addNumber(n)">{{n}}</button>
            </span>
            <button @click="setOp('minus', '-')">-</button>

            <span v-for="n in thirdRow" :key="n">
                <button @click="addNumber(n)">{{n}}</button>
            </span>
            <button @click="setOp('mult', '*')">*</button>

            <button @click="addNumber('0')">0</button>
            <button @click="addNumber('.')">.</button>
            <button @click="doCalc()">=</button>
            <button @click="setOp('div', '/')">/</button>
        </div>
     </div>
</template>

<script>
	import Display from './Display.vue';
	import { performCalculation } from '../services/serverRequests.js';
	import { setCookie } from '../services/cookie.js';

	export default {
		name: "Calculator",
		data() {
			return {
	            display: '_',
	            replace: true,
	            selectedOp: '',

	            firstRow: ['7', '8', '9'],
	            secondRow: ['4', '5', '6'],
	            thirdRow: ['1', '2', '3'],

	            firstNumber: '',
	            secondNumber: '',
	            isFirstNumberDone: false
			}
		},
		methods: {
	        doCalc: function() {
	            if(this.selectedOp !== "") {
	                let payload = {
	                    number1: this.firstNumber,
	                    number2: this.secondNumber
	                }

	                performCalculation(this.selectedOp, payload)
	                .then(response => {
	                    this.display = response.result
	                    this.clearValues()
	                })
	            }
	        },
	        addNumber: function(number) {
	            if(this.isFirstNumberDone) {
	                this.secondNumber += number
	            } else {
	                if(this.replace) {
	                    this.firstNumber = number
	                } else {
	                    this.firstNumber += number
	                }
	            }
	            this.clickButton(number)
	        },
	        setOp: function(op, string) {
	            if(this.selectedOp === "") {
	                this.selectedOp = op
	                this.isFirstNumberDone = true
	                this.clickButton(string);
	            }
	        },
	        setOnStorage: function() {
	        	//localStorage.<cookie-key>
	        	localStorage.Display = this.display
	        },
	        setOnCookie: function() {
	        	setCookie("Display", this.display)
	        },
	        clearValues: function() {
	            this.replace = true
	            this.isFirstNumberDone = false
	            this.selectedOp = ''
	            this.firstNumber = ''
	            this.secondNumber = ''
	        },
	        clearAll: function() {
	            this.clearValues()
	            this.display = '_'
	        },
	        clickButton: function(char) {
	            if(this.replace) {
	                this.display = char
	                this.replace = false
	            } else {
	                this.display += char
	            }
	        }
	    },
	    components: {
	        Display
	    }
	}
</script>

<style>
.container {
	width: 400px;
	background: #242632;
	overflow: hidden;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin: 0 auto;
	box-shadow: 0px 10px 19px rgba(49,49,49, .5);
}

.input-container {
	overflow: hidden;
	padding: 20px;
	padding-top: 0;
	border: 15px solid #242632;
	border-top: 0;
	border-bottom: 0;
	padding-bottom: 50px;
	clear: left;
	border-radius: 30px;
	overflow: hidden;
	float: left;
}

.ac-button {
	background: #E38F4F;
	color: black;
}

button {
	background: #2C303B;
	color: white;
	border: 3px solid #191B21;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
	margin: 5px;
	font-size: 27px;
	min-width: 70px;
	min-height: 50px;
	cursor: pointer;
	float: left;
	border-radius: 5px;
	outline: none;
	border-radius: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
</style>